pandas
numpy
openai
matplotlib
matplotlib-inline
requests
pytz
IPython
ipywidgets
xlrd
gevent==22.8.0
langchain
pinecone-client
eth_account
web3
moralis
langdetect
azure-core
azure-cognitiveservices-speech
wechaty
pymysql
pydub
mnemonic
chromadb
pydantic
tiktoken
sqlalchemy
replicate
chardet
python-dotenv
websocket
websocket-client
pre-commit
black
flake8
autopep8
