pandas
numpy
openai
matplotlib
matplotlib-inline
requests
pytz
IPython
ipywidgets
xlrd
langchain
pinecone-client
eth_account
web3
moralis
python-dotenv
langdetect
azure-core
wechaty
pymysql
pydub
mnemonic
python-dotenv
websocket
websocket-client
pre-commit
black
flake8