pandas
numpy
openai
matplotlib
matplotlib-inline
requests
pytz
IPython
ipywidgets
xlrd
gevent
langchain
pinecone-client
eth_account
web3
moralis
python-dotenv
langdetect
azure-core
azure-cognitiveservices-speech
wechaty
pymysql
pydub
mnemonic
sqlalchemy==1.4.46
replicate
chardet
python-dotenv
websocket
websocket-client
pre-commit
black
asyncio
httpx
sentry-sdk==1.25.1
prometheus-client
schedule
tiktoken
boto3
