azure-cognitiveservices-speech
pydub
sqlalchemy
langdetect
pandas
openai
replicate
langchain
pinecone-client
python-dotenv
pymysql
wolframalpha
wikipedia
xlrd
chardet
cryptography
mnemonic
eth-account
web3
moralis
azure-core
wechaty
wechaty-plugin-contrib