[Unit]
Description=Set up Jupyter service upon boot

[Service]
User=ubuntu
ExecStart=/home/ubuntu/ai_avartar/src/instance_scripts/run_jupyter_notebook.sh

[Install]
WantedBy=multi-user.target
