# copy this file to .env and fill in the values

FAN_BOOK_BOT_TOKEN=''
USER_AVATAR_NAME=yudun
UBUNTU_SERVER_IP_ADDRESS=54.150.233.30
DOMAIN_NAME=
DB_HOST=localhost
DB_PORT=3306
DB_USER=master
DB_PASSWORD=VBoSe1hmaqxx6NFbaeCU
DB_NAME=avatar
OPENAI_API_KEY=sk-HPE9SpQxqOCstzT36dnGfbN5sl5NkXeYgfAJmflBHdVqQOGK
BOT_TOKEN=6101517675:AAGdvGDLzLGpWR9ekbFiMX2sHGjYR88i2Nw
BOT_USERNAME=yudun_bot
USER_TELEGRAM_LINK=https://t.me/wyudun
BOTOWNER_CHAT_ID=5855064903
BOTCREATER_CHAT_ID=2118900665
REPLICATE_KEY=c72192ecb136caafa562ff2ccf1035ef93d649b5
STABILITY_API_KEY=sk-HPE9SpQxqOCstzT36dnGfbN5sl5NkXeYgfAJmflBHdVqQOGK
OPENAI_MODEL=gpt-3.5-turbo
WOLFRAM_ALPHA_APPID=WA4937-6U5K7UXR74
MAX_CONVERSATION_PER_MONTH=1000
PINECONE_FREE=80e14cc4-21bf-4f34-9a9b-73197c82b868
INFURA_KEY=d9c26bef583c4fbe9a4f4399b8129b28
CMC_PA_API=bbac788f-ab81-41c8-88f5-bd930b14f886
FINNHUB_API=cb2o472ad3i3uh8vhpng
ETHERSCAN_API=NFPJHR4T6UFT6ENWPAAZI6489V4PS73221
MORALIS_API=oYa3si8DJ41gaQWoggoNEfEQ5lrmuRTTodYUi7NpMiu8q73cfeo5XwHGS5CVuxLX
MORALIS_ID=4aeb95005e52ca251121e7af
MORALIS_APP_ID=LuqQgGIT8g5KPSx7KcnWOJKQUxoFXkrIHdv2GFDQ
DEBANK_API=66851eb001290da8bdc25434cb78c5bc495da2dd
MONTHLY_FEE=20
ELEVEN_API_KEY=7506563f79bd85dbf7dade0cc8412b42
BING_SEARCH_API=411a9fd2a8e9487a90073880cb14a5b9
SPEECH_KEY=1c7e1fa0721844649a2eee2bc162426b
SPEECH_REGION=westus2
